<div class="nav-container">
    <div class="wrapper">
        <nav>
            <div class="logo">
               
            </div>
<ul class="nav-items">
<li>
    <a  routerLink="/Login-Admin" style="position:absolute; top:20px ; 
    margin-left:-400px;cursor: pointer;">Admin</a>
</li>

<li>
    <a  routerLink="/ophtalmologue" style="position:absolute;left:594px;top:20px ; 
    cursor: pointer;">Ophtalmologue Expert</a>
</li>
<li>
    <a  routerLink="/installation" style="cursor: pointer;position:absolute;top:20px ; 
    left:890px;color:black">A propos de nous</a>
</li>
</ul>
        </nav>
    </div>
</div>