<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    
  </head>

  <body>
    <form  class="formGroup1">
    <p>
      <a data-fancybox="gallery" data-src="./assets/patients/img1.jpg">
        <img src="./assets/patients/img1.jpg" width="150px" height="150px" />
      </a>

      <a data-fancybox="gallery" data-src="./assets/patients/img2.jpg">
        <img src="./assets/patients/img2.jpg " width="150px" height="150px" />
      </a>

      <a data-fancybox="gallery" data-src="./assets/patients/img5.jpg">
        <img src="./assets/patients/img5.jpg" width="150px" height="150px" />
      </a>
    </p></form>
    <button class="btn btn-danger"><i class="fa fa-user"></i>test</button>

    <i class="fa fa-home"></i>
    <button class="btn btn-success"><i class="fa fa-car" aria-hidden="true"></i> test 2</button>
    
    <form action="" class="formGroup2">
      <p>
        <a data-fancybox="gallery" data-src="./assets/patients/img1.jpg">
          <img src="./assets/patients/img1.jpg" width="150px" height="150px" />
        </a>
  
        <a data-fancybox="gallery" data-src="./assets/patients/img2.jpg">
          <img src="./assets/patients/img2.jpg " width="150px" height="150px" />
        </a>
  
        <a data-fancybox="gallery" data-src="./assets/patients/img5.jpg">
          <img src="./assets/patients/img5.jpg" width="150px" height="150px" />
        </a>
      </p></form>

      <h2>Read More Read Less Button</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel<span id="dots">...
        </span><span id="more">erisque enim ligula venenatis dolor. 
          Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. 
          Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, 
          sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. 
          Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. 
          Sed dapibus pulvinar nibh tempor porta.</span></p>

      <button (click)="myFunction()" id="myBtn">Read more</button>
  </body>
</html>
