<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<div id="alignement">
<div class="dark-edition">

<div class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-8">
<div class="card">

<div class="card-body">

<form (ngSubmit)="modifierProfile(fl)" #fl=ngForm>

<div class="container">

<div class="avatar-upload">
<div class="avatar-edit">
<input type='file' id="imageUpload" (change)="onSelectFile($event)" 
class="select-profile-picture"  accept=".png, .jpg, .jpeg" />

      <label for="imageUpload"></label>
  

</div>
<div class="avatar-preview">
  <img id="imagePreview" src={{imagePath2}}>
</div>
</div>
</div>
          <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="bmd-label-floating">Nom et Prénom </label>
        <input type="text" class="form-control"   [(ngModel)]=user.username ngModel name="username" 
          required #username="ngModel" style="color :#fff"> 
        <span style="color:#e54f4f ;position: absolute;margin-left: 2px;width: 340px;top:62px;"
        *ngIf="!username.valid && username.touched">Entrer  nom  valide </span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="bmd-label-floating"> Adresse Email </label>
        <input type="text" class="form-control"  [(ngModel)]=user.email ngModel name="email" 
         required #email="ngModel" style="color :#fff">
        <span style="color:#e54f4f  ;position: absolute;margin-left: 2px;width: 340px;top: 62px;"
        *ngIf="!email.valid && email.touched">Entrer  email  valide </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="bmd-label-floating">Numero de telephone  </label>
        <input type="number" class="form-control"   [(ngModel)]=user.telephone 
        ngModel name="telephone"  required #telephone="ngModel" style="color :#fff">
        <span style="color:#e54f4f ;position: absolute;margin-left: 2px;width: 340px;top: 62px;"
        *ngIf="!telephone.valid && telephone.touched">Entrer  numero   valide </span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div id="label1">
            <br>
        <label class="bmd-label-floating" style="margin-left: 0px;margin-top: 15px;">Gendre</label></div>
        <input type="radio" [(ngModel)]="gender" value="homme" name="gender" id="homme1"> 
        <label id="label-Homme" >Homme</label> 
        <input type="radio" [(ngModel)]="gender" value="femme" name="gender" id="femme1">
         <label id="label-Femme">Femme</label>

      
      </div>
    </div>
  
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="bmd-label-floating">Mot de passe</label>
        <input id="password-field" type="password" 
        ngModel name="pwd"  required #pwd="ngModel" class="form-control">
        <span toggle="#password-field" class="fa fa-fw fa-eye-slash  toggle-password"
        style="position:absolute;margin-top: -27px;margin-left: 250px;" ></span>
        <span style="color: #e54f4f; position: absolute;left: 1px;top: 63px;font-size: 14px; width: 340px;" 
        *ngIf="!pwd.valid && pwd.touched" >Entrer  un mot de passe valide </span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="bmd-label-floating">Confirmation Mot de passe</label>
        <input  id="password-field2" type="password" 
        ngModel name="pwdc"  required #pwdc="ngModel"  class="form-control">
      </div>
      <span toggle="#password-field2" class="fa fa-fw fa-eye-slash  toggle-password2"
      style="position: absolute;margin-top: -36px;margin-left: 251px;" ></span>
      <span style="color:#e54f4f ;position: absolute;left: 18px;top:72px ;font-size: 14px; width: 340px;" 
      *ngIf="!pwdc.valid && pwdc.touched" >Entrer  un mot de passe valide </span>
      </div>
      <span style="color:#e54f4f ;position: absolute;margin-left: 18px;top:180px ;font-size: 14px; width: 340px;" 
      *ngIf="(test==true)">verifier le mot de passe </span>
    
  </div>
  <br><br><br>
  <div align="center" id="btnSave"> 
  <button class="btn btn-success" >Valider</button>&nbsp;&nbsp;&nbsp;
 </div>
  <div class="clearfix"></div>
</form>
<div id="bouttonAnnuler">
<button class="btn btn-danger" (click)="onClose()" >Annuler</button>
</div>
</div>  
</div>
</div>

</div>
</div>
</div>
</div>
</div>  
</body>
</html>