<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!--  <div class='wrapper'>
    <div class='bar'>
        <div class='bar-info ps' data-total='85'>
          Espace de stockage totale
          <span class='percent'>85</span>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
--><div class="wrapper">
  <div class="progress-bar">
    <div class="bar" data-size="50">
      <span class="perc"></span>
    </div>
  </div>
 
</div>
</body>
</html>