<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Student Profile Page Design Example</title>

    <meta name="author" content="Codeconvey" />
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
   <!--  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

    Only for demo purpose - no need to add.
    <link rel="stylesheet" href="./assets/css/demo.css" />
    
	    <link rel="stylesheet" href="./assets/css/style.css">-->
</head>
<body>
   	
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
 
            <!-- Ad Here -->
            
        </div>

    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
    
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- Student Profile -->

<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="./assets/images/pfemme.png" alt="student dp">
            <h3>Nom de patient</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Réference:</strong>12345678</p>
            <p class="mb-0"><strong class="pr-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;Age:</strong>40 ans</p>
            <p class="mb-0"><strong class="pr-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Genre:</strong>Femme</p>
             
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Date de naissance</th>
                <td width="2%">:</td>
                <td>AAAA/MM/JJ</td>
              </tr>
              <tr>
                <th width="30%">Numéro de télephone</th>
                <td width="2%">:</td>
                <td>12345678</td>
              </tr>
              <tr>
                <th width="30%">Email</th>
                <td width="2%">:</td>
                <td>patient@gmail.com</td>
              </tr>
              
              <tr>
                <th width="30%">Anticédants</th>
                <td width="2%">:</td>
                <td>
                    <ul>
                      <li>Maladie 1</li>
                      <li>Maladie 2</li>
                      <li>Maladie 3</li>
                </ul></td>
              </tr>
            </table>
          </div>
        </div>
          <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
          </div>
          <div class="card-body pt-0">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
           
    		</div>
		</div>
    </div>
</section>
     


    <!-- Analytics -->

    <div class="nav-container">
      <div class="wrapper">
          <br>
          <nav>
              <div class="img-nav">
                  <img src="./assets/images/navbar.png" >
              </div>
              <ul class="nav-items">
                  <div class="content">
                      <div id="admin"></div>
                        <img src="./assets/images/menu 1.png" id="menu">
                        <div id="menu23">
                          <div id="arrow"></div>
                          <a routerLink="/PageProfile">Profile <i id="firstIcon" class="fa fa-user-md"></i></a>
                          <a routerLink="/chart-Activity-Doctor">Mon Activité<i id="secondIcon" class="fa fa-bar-chart-o"></i></a>

                        </div>
                  </div>
                  <a routerLink="/PageProfile">
                      <img src="./assets/images/Group 22.png" alt="">
                  </a>
                  <a routerLink="/PageProfile"  id="nom">Bienvenue Nom-Ophtalmologue</a>
                  <li>
                          <div class="budgecard">
  
                          <a  class="notifications"  routerLink="/accueil"><i class="fa fa-bell" aria-hidden="true"></i>  <span class="badge">3</span> &nbsp;Accueil </a></div>
                      </li>
                      <img src="./assets/images/Line.svg" id="line1">
  
                      <li>
                          <a routerLink="/historique"  id="list"><i class="fa fa-history" aria-hidden="true" ></i> Historique  des avis</a>
                          </li>
                      <li>
                          <img src="./assets/images/Line.svg" id="line2">
                          
                          <a id="logout" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a>
                          <!--<img src="./assets/images/logout.png" id="iconeLogout">-->
                      </li>
              </ul>
              
          </nav>
      </div>
  </div>  
  </body>
  </html>