* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 1350px;
    background-color: #d9dffa;
    margin: 0; padding: 0;
    -webkit-text-size-adjust: none; 
    text-size-adjust: none;
    background: #40507a;
}

a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: inherit !important;
}

#MessageViewBody a {
    color: inherit;
    text-decoration: none;
}

p {
    line-height: inherit
}

@media (max-width:620px) {
    .icons-inner {
        text-align: center;
    }

    .icons-inner td {
        margin: 0 auto;
    }

    .row-content {
        width: 100% !important;
    }

    .image_block img.big {
        width: auto !important;
    }

    .column .border {
        display: none;
    }

    .stack .column {
        width: 100%;
        display: block;
    }
}
#btn{
    text-decoration:none;
    display:inline-block;
    color:#ffffff;
    background-color:#506bec;
	border-radius:16px;
    width:auto;
    border-top:0px solid TRANSPARENT;
    border-right:0px solid TRANSPARENT;
	border-bottom:0px solid TRANSPARENT;
    border-left:0px solid TRANSPARENT;
    padding-top:8px;padding-bottom:8px;
    margin-top: 25px;
    margin-left: 87px;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align:center;
	word-break:keep-all;
}
    #span1{
        padding-left:25px;padding-right:20px;font-size:15px;
        display:inline-block;letter-spacing:normal;
    }
    
    #btnAccueil{
        position: absolute;
        text-decoration: none;
        font-size: 20px;
        color: #000000;
        left: 1200px;
        font-family: bold;
  
    }
    #retour{
        position: absolute;
        top: 265px;
        left: 435px;
    }