<!DOCTYPE html>
<html lang="en">
    <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

 <title>Welcome</title>
</head>
<body>
    <div class="header-container">
        <div class="wrapper">
            <header>               
               <div class="detail">
                   <img src="./assets/images/pfemme.png" width="58px" height="50px">
                   <p><label > Nom : Nom-patient</label></p>
                   <p><label > Prénom : Prenom-patient</label></p>
                   <p><label for="">Age : 42 ans </label></p>
                   <p><label for="">Genre : Homme </label></p>
                   <p><label >Antécédents : Diabéte </label></p>
                     
                   <a routerLink="/infosPatient">Détail</a>
               </div>   
                
            </header>
         </div>
    </div>

<div class="wrapper1">
<div class="form-inner">
   <div class="form-container">
         
<div class="login-page">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon><img src ="./assets/images/eyeA.gif"  width="35px" height="35px" id="icone1" /></mat-icon>
                <i class="fa fa-angle-double-left fa-1x" aria-hidden="true"></i>&nbsp; Oeil Gauche
            </ng-template>
        <form [formGroup]="formGroup1" style="height: 500px;">
            <div class="field">
                <div class="gallery" >                              
                    <a data-fancybox="gallery" data-src="./assets/patients/img1.jpg">
                        <img src="./assets/patients/img1.jpg" width="198px" height="198px" /></a>
                   <a data-fancybox="gallery" data-src="./assets/patients/img1.jpg">
                        <img src="./assets/patients/img1.jpg " width="198px" height="198px" /> </a>
                   <a data-fancybox="gallery" data-src="./assets/patients/img5.jpg">
                        <img src="./assets/patients/img5.jpg" width="198px" height="198px" />  </a>
                   <a data-fancybox="gallery" data-src="./assets/patients/img4.png">
                        <img src="./assets/patients/img4.png" width="198px" height="198px" />  </a>
                   <a data-fancybox="gallery" data-src="./assets/patients/img1.jpg">
                        <img src="./assets/patients/img1.jpg" width="198px" height="198px" />  </a>
                    
                </div>
                </div>
                <div id="contain1">
                   <label id="maladie"> Maladie X</label> 
                </div>
                <div id="contain2">
                   <label id="niveau"> Niveau X</label>
                </div>
                <div class="slide-controls1">
                    <input type="radio" name="slide1" id="login" checked>
                     <button id="btn" routerLink="/AjoutAvis">Ajouter un avis</button> 
                <div class="slider-tab1"></div>
                </div>     
            </form> 
        </mat-tab>
        <mat-tab  >   </mat-tab>
    <mat-tab  > 

    </mat-tab>    <mat-tab  > 
    <ng-template mat-tab-label>
        <mat-icon><img src ="./assets/images/eyeA.gif"  width="35px" height="35px" id="icone1" />
        </mat-icon>
        Oeil Dorite &nbsp; <i class="fa fa-angle-double-right" aria-hidden="true"></i> 
    </ng-template>
    <form [formGroup]="formGroup2" style="height: 500px;">
      <div class="field">
        <div class="gallery" >                              
            <a data-fancybox="gallery" data-src="./assets/patients/img1.jpg">
                <img src="./assets/patients/img1.jpg" width="198px" height="198px" /></a>
           <a data-fancybox="gallery" data-src="./assets/patients/img1.jpg">
                <img src="./assets/patients/img1.jpg " width="198px" height="198px" /> </a>
           <a data-fancybox="gallery" data-src="./assets/patients/img5.jpg">
                <img src="./assets/patients/img5.jpg" width="198px" height="198px" />  </a>
           <a data-fancybox="gallery" data-src="./assets/patients/img4.png">
                <img src="./assets/patients/img4.png" width="198px" height="198px" />  </a>
           <a data-fancybox="gallery" data-src="./assets/patients/img1.jpg">
                <img src="./assets/patients/img1.jpg" width="198px" height="198px" />  </a>
            
        </div>
        </div>
        <div id="contain1">
           <label id="maladie"> Maladie X</label> 
        </div>
        <div id="contain2">
           <label id="niveau"> Niveau X</label>
        </div>
        <div class="slide-controls1">
            <input type="radio" name="slide1" id="login" checked>
             <button id="btn" routerLink="/AjoutAvis">Ajouter un avis</button> 
        <div class="slider-tab1"></div>
        </div>     
    </form> 
</mat-tab>
</mat-tab-group>
</div>
</div>
</div>
</div>
<div class="nav-container">
    <div class="wrapper">
        <br>
        <nav>
            <div class="img-nav">
                <img src="./assets/images/navbar.png" >
            </div>
            <ul class="nav-items">
                <div class="content">
                    <div id="admin"></div>
                      <img src="./assets/images/menu 1.png" id="menu">
                      <div id="menu23">
                        <div id="arrow"></div>
                        <a routerLink="/PageProfile">Profile <i id="firstIcon" class="fa fa-user-md"></i></a>
                        <a routerLink="/chart-Activity-Doctor">Mon Activité<i id="secondIcon" class="fa fa-bar-chart-o"></i></a>
                        <a >Mode d'affichage 
                                <div class="button-con">
                                    <label id='sun' for='cb1'>
                                        <i class="fa fa-sun-o fa-1x" aria-hidden="true"></i>
                                    </label>
                                    <input class='toggle' id='cb1' type='checkbox'>
                                    <label class='toggle-button' for='cb1'></label>
                                    <label id='moon' for='cb1'>
                                        <i class="fa fa-moon-o fa-1x" aria-hidden="true"></i>
                                    </label>
                                  </div>  
                                  </a>
                    </div>
                </div>
                <a routerLink="/PageProfile/{{id}}">
                    <img src={{imagePath}} class="img-carree">
                    <div class="pointConnexion"></div>
                </a>
                <a routerLink="/PageProfile/{{id}}"  id="nom">Bienvenue  
                    <span>{{user.username}}</span></a>
                <li>
                        <div class="budgecard">

                        <a  class="notifications"  routerLink="/accueil"><i class="fa fa-bell" aria-hidden="true"></i>  <span class="badge">3</span> &nbsp;Accueil </a></div>
                    </li>
                    <img src="./assets/images/Line.svg" id="line1">

                    <li>
                        <a routerLink="/historique"  id="list"><i class="fa fa-history" aria-hidden="true" ></i> Historique  des avis</a>
                        </li>
                    <li>
                        <img src="./assets/images/Line.svg" id="line2">
                        
                        <a id="logout" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a>
                        <!--<img src="./assets/images/logout.png" id="iconeLogout">-->
                    </li>
            </ul>
            
        </nav>
    </div>
</div>  
</body>
</html>