<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a id="accueil" routerLink=""><i class="fa fa-home"></i>&nbsp;Accueil</a>
<div class="container">
    <div class="row" style="height: 550px;">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                ADMIN PANEL
            </div>

<div class="col-lg-12 login-form">
<div class="col-lg-12 login-form">
<form>
<div class="form-group">
<label class="form-control-label">NOM </label>
<input type="text" class="form-control" id="username">
</div>
<div class="form-group">
<label class="form-control-label" style="position: absolute;top: 267px;left: 707px;">
    PRENOM</label>
<input type="text" class="form-control" id="email">
</div>
<div class="form-group">
<label class="form-control-label"style="position: absolute;top: 353px;left: 707px;">MOT DE PASSE </label>
<input type="password" class="form-control" name="password" id="password">
</div>
<div class="form-group">
<label class="form-control-label"style="position: absolute;top: 353px;left: 412px;"> 
    EMAIL </label>
<input type="password" class="form-control" id="cpassword">
<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"
                style="position:absolute;top: 380px;margin-left: 520px;color: #fff;" ></span>
</div>

<div class="col-lg-12 loginbttm">
<div class="col-lg-6 login-btm login-text">
    <!-- Error Message -->
</div>
<div class="col-lg-6 login-btm login-button" >
    <button type="submit" class="btn btn-outline-primary" routerLink="/Login-Admin">REGISTRER</button>
</div>
</div>

</form>  
<h3 class="txt">Vous avez déjà un compte ? <a   class="btn2" routerLink="/Login-Admin">Connexion</a></h3>

                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>

</div>    
</body>
</html>


