<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Welcome </title>
    <!--<link rel="stylesheet" href="home-page.component.css">-->
    
</head>
<body>
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                   <img class ="logo-img" src="./assets/images/logoSociete.png"  height="50px" style="margin-left: -240px;">
                </div>
<ul class="nav-items">
    <li>
        <a  routerLink="/Login-Admin" style="margin-left:-400px;">Admin</a>
    </li>
    
    <li>
        <a  routerLink="/ophtalmologue" style="position:absolute;left:594px;">Ophtalmologue Expert</a>
    </li>
    <li>
        <a  routerLink="/installation" style="position:absolute;left:890px;">A propos de nous</a>
    </li>
</ul>
            </nav>
        </div>
    </div>
    <div class="header-container">
        <div class="wrapper">
            <header>
                <div class="hero-content">
                    <h1>HUMAIN EYES</h1>
                    <img src="./assets/images/Line1.svg" style="margin-left: 40px;">
                    <p>
                       Gigatred punyto uijhbn gfdxcvbh  Gär Vana bnv <br>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                       Phasellus imperdiet, nulla et dictum interdum<span id="dots">...</span><span id="more"><br>
                       Oktig huyokl pioim  hgbhjv rfdc Ösam. <br>
                        Gigatred punyto uijhbn gfdxcvbh  Gär Vana bnv <br> 
                        Sed dapibus pulvinar nibh tempor porta.<br></span><br><br>
                     <a href="#" (click)="myFunction()" id="myBtn">Read more </a> </p>
                </div>
            </header>
        </div>
    </div>
</body>
</html>