<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Welcome Admin</title>

<link rel="stylesheet" href="https://cdn.boomcdn.com/libs/owl-carousel/2.3.4/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.9.97/css/materialdesignicons.min.css">
<link rel="shortcut icon" href="./assets/imagesD/favicon.png" />
<link rel="stylesheet" href="./assets/styleAdd.css">
</head>
<body>
    <!-- Navbar verticale a gauche -->
<div class="container-scroller">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" routerLink="/Admin">
            <img src="./assets/images/icone eye.png" id="iconeLogo"> 
            <h6 id="titre">HUMAIN EYES</h6></a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src={{imagePath}} id="imageAdmin">
                        <div class="enLigne"><span class="count bg-success"></span></div>
                    </div>
                    </div>
                </div>  
                <br><br><br>
                <div class="profile" style="margin-top: 15px;">
                <h5 class="mb-0 font-weight-normal">{{username}} </h5>
                <span>{{role}}</span>
                </div> 
                </li><br><br><br>
            <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items">
            <a class="nav-link" routerLink="/Admin">
                <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
            </li>
            <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#doctors" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                    <i class="material-icons">
                        face
                        </i>
    
                </span>
                <span class="menu-title">Drs ophtalmologues</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="doctors">
                <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="/All-Doctors">Tous Les Docteurs</a></li>
                <li class="nav-item"> <a class="nav-link"  routerLink="/Add-Doctor">Ajouter Dr Ophtalmolgue</a></li>
                </ul>
            </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse"   routerLink="/Drs" aria-expanded="false" aria-controls="ui-basic">
                    <span class="menu-icon">
                        <i  class="material-icons">
                            groups
                            </i>
                        </span>
                    <span class="menu-title">Médecins </span>
                </a>
             
                </li>
           
            <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" routerLink="/All-Patients" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                    <i class="material-icons">
                        people
                    </i>
                </span>
                <span class="menu-title">Patients</span>
               
            </a>
         
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#IAModele" aria-expanded="false" aria-controls="auth">
                    <span class="menu-icon">
                    <i class="material-icons">
                        psychology
                        
                        </i>
                    </span>
                    <span class="menu-title">Modéles IA</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="IAModele">
                    <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" routerLink="/IA_Modeles"> Modéles </a></li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/Ajouter"> Ajouter Modéle IA </a></li>            
                    </ul>
                </div>
                </li>
            <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-icon">
                <i class="material-icons">
                    leaderboard
                    
                    </i>
                </span>
                <span class="menu-title">Statistiques</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="/Satistiques_App">  Application </a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/Satistiques_Dr"> Docteurs </a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/Satistiques_Patient"> Patients </a></li>
                </ul>
            </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="auth" routerLink="/Espace_Stockage">
                    <span class="menu-icon">
                        <i class="fa fa-archive" aria-hidden="true"></i>
                    </span>
                    <span class="menu-title">Espace de Stockage</span>
                </a>       
            </li>
            <li class="nav-item menu-items">
            <a class="nav-link" routerLink="">
                <span class="menu-icon">
                <i class="material-icons">
                    power_settings_new
                    </i>
                </span>
                <span class="menu-title">Déconnexion</span>
            </a>
            </li>
        
        </ul>
        </nav>
  <!-- fin de nav bar verticale a guche  -->
  <div class="main-panel" style="position: fixed;">
  <div class="row">
    <div class="col-12 grid-margin">
       <div class="card">
            <div class="card-body">
                 <h3 id="titre1">&nbsp;Ajouter Dr Ophtalmolgue&nbsp;
                  <i class="fa fa-angle-right fa-1x" aria-hidden="true"></i>
                 <img src="./assets/imagesD/home.svg" alt=""></h3>
              <h5 id="titre2"><i class="fa fa-angle-right fa" aria-hidden="true"></i>&nbsp;&nbsp;Drs ophtalmologues </h5>
              <h5 id="titre3"><i class="fa fa-angle-right fa" aria-hidden="true"></i>&nbsp;&nbsp;Ajouter Dr Ophtalmolgue </h5>
            
<div class="container">
    <div class="forms">
        <div class="form login">
<form (ngSubmit)="registre(fl)" #fl=ngForm style="top: -10px;" *ngIf =" bouton ==true ;else  vide">

    <div class="avatar-upload" style="margin-top: 15px;">
    <div class="avatar-edit">
    <input type='file' id="imageUpload" (change)="onSelectFile($event)" class="select-profile-picture"  accept=".png, .jpg, .jpeg" />
    
        <label for="imageUpload"></label>
    
     
      
    </div>
    <div class="avatar-preview">
    <img id="imagePreview" src={{imagePath1}}>
    </div>
    </div>

<div class="input-field">
    <input type="text"   placeholder="Nom et prenom" 
    ngModel name="nom"  required #nom="ngModel" style="color :#fff">
    <i class="fa fa-user" style="margin-top: -10px;" ></i>
    <span style="color:red ;position: absolute;margin-left: 35px;width: 340px;top: 40px;"
    *ngIf="!nom.valid && nom.touched">Entrer  nom  valide </span>
</div>
    <div class="input-field" style="position: absolute;top: 285px;left: 885px;">
        <input type="email"   placeholder="Email" 
        ngModel name="email"  required #email="ngModel" style="color :#fff">
        <i  class="fa fa-envelope" style="margin-top: -10px;" ></i>
        <span style="color:red ;position: absolute;margin-left: 35px;width: 340px;top: 40px;"
        *ngIf="!email.valid && email.touched">Entrer  email  valide </span>
</div>
<div class="input-field">
    <input type="text"   placeholder="Numero de telephone " 
    ngModel name="telephone"  required #telephone="ngModel" style="color :#fff">
    <i class="fa fa-phone" style="margin-top: -10px;" ></i>
    <span style="color:red ;position: absolute;margin-left: 35px;width: 340px;top: 40px;"
    *ngIf="!telephone.valid && telephone.touched">Entrer  numero   valide </span>
</div>
<div id="GenreExpert">
<div class="form-group">
    <div id="label1">
    <label class="bmd-label-floating" style="position: absolute;top:155px;left: 285px;">Gender</label></div>
    <input type="radio" [(ngModel)]="gender" value="homme" name="gender" id="homme1">
     <label id="label-Homme"  >Homme</label> 
    <input type="radio" [(ngModel)]="gender" value="femme" name="gender" id="femme1">
     <label id="label-Femme">Femme</label>
    </div> 
</div>
<div class="input-field">
    <input  id="password-field" type="password" name="password" placeholder="Mot de passe" 
    ngModel name="pwd"  required #pwd="ngModel" style="color :#fff">
    <i class="fa fa-lock icon" style="margin-top: -15px;"></i>
    <span toggle="#password-field" class="fa fa-fw fa-eye-slash  toggle-password"
    style="    position: absolute;margin-top: 10px;margin-left: 367px;" ></span>
    <span style="color: red;position: absolute;left: 35px;top: 46px;width: 340px;" 
        *ngIf="!pwd.valid && pwd.touched" >Entrer  un mot de passe valide </span>
</div>
<div class="input-field" style="position: absolute;top: 445px;left: 885px;">
    <input  id="password-field2" type="password" name="password" placeholder="Confirmation" 
    ngModel name="pwdc"  required #pwdc="ngModel" style="color :#fff">
    <i class="fa fa-lock icon" style="margin-top: -14px;margin-left: 3px;"></i>
    <span toggle="#password-field2" class="fa fa-fw fa-eye-slash  toggle-password2"
    style="position:absolute;margin-top: 10px;margin-left: 370px;" ></span>
    <span style="color: red; position: absolute;left: 37px;top: 45px;width: 340px;" 
    *ngIf="!pwdc.valid && pwdc.touched" >Entrer  un mot de passe valide </span>
    </div>
    <span style="color:red ;position: absolute;margin-left: 280px;top:266px ; width: 340px;" 
    *ngIf="(test==true)">verifier le mot de passe </span>
<br><br>
<div align="center"> 
<button class="btn btn-success" (click) = "onClear()">Valider</button>&nbsp;&nbsp;&nbsp;
<button class="btn btn-danger" (click)="onClose()" >Annuler</button></div>
<div class="clearfix"></div>
</form> 
<ng-template #vide >
    <div class="cardAlert"  style="margin-left: 150px;">
        <div class="card_content">
          <div class="card_icon">
          <br><br>
          <img src="./assets/images/err1.png" width="100px" height="100px">
            <p class="card_title"> Attention </p>
          </div>
          <div class="card_body">
            <p>cette Action (Ajouter de Dr Expert Ophtalmologue) <br>
              n'est pas autorisé pour Admin Digital Manager 
            </p>
          </div>
        </div>
        <div class="card_layout"></div>
      </div>
      
      
      
</ng-template>
</div>
</div>
</div>




</div>

</div>
</div>
</div>
</div>

 

</div>  
<!-- Navbar Horizontal -->
<div class="container-fluid page-body-wrapper">

  <nav class="navbar p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
      <a class="navbar-brand brand-logo-mini" href="index.html"><img src="./assets/imagesD/logo-mini.svg" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
      </button>
      <ul class="navbar-nav w-100">
          <li class="nav-item w-100">
          <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
              <input type="text" class="form-control" placeholder="recherche  ...">
          </form>
          </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-none d-lg-block">
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
              <h6 class="p-3 mb-0">Projects</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-file-outline text-primary"></i>
                  </div>
              </div>
              <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1">Software Development</p>
              </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-web text-info"></i>
                  </div>
              </div>
              <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1">UI Development</p>
              </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-layers text-danger"></i>
                  </div>
              </div>
              <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1">Software Testing</p>
              </div>
              </a>
              <div class="dropdown-divider"></div>
              <p class="p-3 mb-0 text-center">See all projects</p>
          </div>
          </li>
         
          <li class="nav-item dropdown border-left">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-bell"></i>
              <span class="count bg-danger"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <h6 class="p-3 mb-0">Notifications</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-calendar text-success"></i>
                  </div>
              </div>
              <div class="preview-item-content">
                  <p class="preview-subject mb-1">Event today</p>
                  <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event today </p>
              </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-settings text-danger"></i>
                  </div>
              </div>
              <div class="preview-item-content">
                  <p class="preview-subject mb-1">Settings</p>
                  <p class="text-muted ellipsis mb-0"> Update dashboard </p>
              </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-link-variant text-warning"></i>
                  </div>
              </div>
              <div class="preview-item-content">
                  <p class="preview-subject mb-1">Launch Admin</p>
                  <p class="text-muted ellipsis mb-0"> New admin wow! </p>
              </div>
              </a>
              <div class="dropdown-divider"></div>
              <p class="p-3 mb-0 text-center">See all notifications</p>
          </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                <div class="navbar-profile">
                    <a routerLink="/Profile-Admin">
                <img class="img-xs rounded-circle" src={{imagePath}} alt=""></a>
                <p class="mb-0 d-none d-sm-block navbar-profile-name">{{username}}</p>
                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-face text-success"></i>
                  </div>
              </div>
              <div class="preview-item-content">
                <a class="preview-subject mb-1" routerLink="/Profile-Admin"
                style="text-decoration: none;color: #fff;">Profile</a>
              </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-logout text-danger"></i>
                  </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject mb-1">
                    <a (click)="logout()" style="text-decoration: none;">
                         Déconnexion</a></p>
              </div>
              </a>
              <div class="dropdown-divider"></div>
          </div>
           
          </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-format-line-spacing"></span>
      </button>
      </div>
  </nav>
</div>

<script src="./assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="./assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="./assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="./assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="./assets/js/off-canvas.js"></script>
<script src="./assets/js/hoverable-collapse.js"></script>
<script src="./assets/js/misc.js"></script>
<script src="./assets/js/settings.js"></script>
<script src="./assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="./assets/js/dashboard.js"></script>
<script src="./assets/vendors/chart.js/Chart.min.js"></script>
    <script src="./assets/js/chart.js"></script>

    <script src="./assets/js/hoverable-collapse.js"></script>
    <script src="./assets/js/misc.js"></script>
    <script src="./assets/js/settings.js"></script>
    <script src="./assets/js/todolist.js"></script>
<!-- End custom js for this page -->
</body>
</html>

